# Byte-compiled / optimized
__pycache__/

# Distribution / packaging
build/
dist/
sdist/
.eggs/*
*.egg-info

# Unit test / coverage reports
.cache
.coverage
.pytest_cache/

# Developer environments
.idea
.vscode
.env
.venv
examples/mnist/debug_notebook.py

examples/mnist/.ipynb_checkpoints/
